<swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/04/e6/b9/04e6b91f9ff5a7d822994f7dd6f0c3c0.jpg" alt="img 1"></div>
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/a9/99/5e/a9995ead030f391437a1da2c713eef8f.jpg" alt="img 2"></div>
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/8c/ee/30/8cee3017cd4f31a0a36af9301ba48fd0.jpg" alt="img 3"></div>
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/ad/f9/41/adf941807f28ff295c0c27f4067f0a0e.jpg" aallt="img 4"></div>
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/e7/73/00/e773006ceaa013a80ecff62e34434ea8.jpg" alt="img 5"></div>
      <div class="swiper-slide"><img src="https://i.pinimg.com/564x/6c/ec/64/6cec64d0c952c94302a0dffae5e918da.jpg" alt="img 6"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
